<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="login.css">
  </head>

  <body>
    <div>
      <h1>Twitter Notes</h1>
      <h2>Your personal friends diary</h2>
      <a href="/auth/twitter"><img src="sign-in-with-twitter-gray.png"></a>
    </div>
  </body>

</html>